@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.25s linear; /* For Safari 3.0 to 6.0 */
  transition: color 0.25s linear; /* For modern browsers */
}

#body-wrapper {
  overflow-x: hidden;
}

#links li:hover {
  color: #00B5FF;
  cursor: pointer;
}

#blob1 {
  position: absolute;
  z-index: -3;
  width: 72vw;
  height: auto;
  left: -10vw;
  top: 45%;

  animation: flyin 1.2s ease-in-out;
}

#blob2 {
  position: absolute;
  z-index: -2;
  width: 90vw;
  height: auto;
  right: -22vw;
  top: 18%;

  animation: flyin 1.6s ease-in-out;
}

#blob3 {
  position: absolute;
  z-index: -1;
  height: auto;
  width: 80vw;
  right: -20vw;
  top: 73%;

  animation: flyin 1.8s ease-in-out;
}

#tabletblobs {
  display: none;
}

#mobileblobs {
  display: none;
}

.lilblob {
  display: block;
}

#header {
  width: 60vw;
  height: 100vh;
  color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20.825vw;
  font-family: "Kumbh Sans", sans-serif;
}

#intro {
  font-family: "Kumbh Sans", sans-serif;
}

#intro h1 {
  font-size: 3.2vw;
  font-weight: 400;
}

#intro h1 b {
  font-weight: 700;
}

#intro h2 {
  font-size: 1.9vw;
  font-weight: 400;
  display: flex;
  padding-bottom: 20vh;
}

@keyframes animate {
  0% {
    transform: translateY(0vw);
  }
  16.66% {
    transform: translateY(0vw);
  }
  33.33% {
    transform: translateY(-4.2vw);
  }
  50% {
    transform: translateY(-4.2vw);
  }
  66.66% {
    transform: translateY(-8.4vw);
  }
  83.34% {
    transform: translateY(-8.4vw);
  }
  100% {
    transform: translateY(-12.6vw);
  }
}

#intro {
  animation: flyin 1s ease-in-out;
  width: 35vw;
  color: #303030;
}

#intro p {
  font-size: 0.888em;
  line-height: 1.5em;
  margin: 2vh 0;
}

#intro p a{
  color: #00B5FF;
  text-decoration: underline;
}

@keyframes flyin {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

#navbar {
  position: absolute;
  top: 0;
  width: inherit;

  display: flex;

  justify-content: space-between;
  padding: 5% 0;
  z-index: 0;

  animation: fadein 1.5s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}

#navbar ul li {
  padding-left: 5%;
  font-weight: 600;
  color: #292929;
  font-size: 1.2vw;
}

.downArrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: auto;
  width: 10vw;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

#content {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#case-studies {
  max-width: 900px;
}

.case-study {
  display: flex;
  /*   border-radius: 25px; */
  background: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 350px;
  margin-bottom: 5%;
}

.case-study-left {
  width: 40%;
  padding: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case-study-left button {
  background-color: #909090;
  border: none;
  color: white;
  text-align: center;
  padding: 5%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  /*   border-radius: 12px; */
}

button:hover {
  cursor: pointer;
}
.case-study-right {
  width: 60%;
}

.case-study-right img {
  height: 100%;
  width: 100%;
  /*   border-radius: 0 25px 25px 0; */
  object-fit: cover;
}

.product-type {
  font-size: 1.2em;
  color: #909090;
}

.product-name {
  font-size: 2em;
  margin: 2% 0 2% 0;
  font-weight: 600;
}

.product-desc {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #535353;
}

#footer {
  display: flex;
  justify-content: center;
  margin: 8vh 0;

  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  color: #303030;
  text-align: center;

  animation: flyin 1s ease-in-out;
}

#about-container {
  display: flex;
  width: 58.35vw;
  margin: 0 20.825vw;
}

#about-container #intro {
  width: 50%;
}

#about-container #portrait {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  animation: flyin 1s ease-in-out;
}

#about-container #portrait img {
  width: 80%;
  height: auto;
}

#about-container h1 {
  font-size: 2.5vw;
}

/* CASE STUDY PAGES */

#case-study-banner {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  object-fit: cover;

  display: flex;
  align-items: center;

  animation: flyin 1s ease-in-out;
}

#case-study-banner img {
  width: 100%;
  object-fit: cover;
}

#case-study-body-container {
  animation: flyin 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  color: #303030;
}

#case-study-body {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#case-study-body h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

#case-study-body h2 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 5vh;
}

#case-study-body h3 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 5vh;
}

#case-study-body h4 {
  font-weight: 700;
  margin-bottom: 1.5em;
}

#case-study-body p {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  margin-bottom: 5vh
}

#case-study-body li {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2vh;
}

#case-study-body ul {
  margin-bottom: 3vh;
}

#case-study-body b {
  font-weight: 600;
}

#case-study-body a {
  font-weight: 700;
  text-decoration: underline;
}

#case-study-body img {
  width: 100%;
  margin-bottom: 5vh;
}

.hf-body {
  display: flex;
  align-items: center;
  width: 100%;
}

.hf-left {
  width: 50%;
}

.hf-left img {
  width: 80% !important;
}

.dropshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hf-right {
  width: 50%;
}

.tq-hf {
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tutorqueue b, .justice-calendar a {
  color: #BC941D;
}

.justice-calendar b, .justice-calendar a {
  color: #7B002D;
}

.helpr b, .helpr a {
  color: #ddaa00;
}

.leave {
  animation: leave 0.5s ease-in-out;
}

@keyframes leave {
  100% {
    opacity: 0;
    /*     transform: translateY(5vh); */
  }
}

#nav-icon-container {
  font-size: 30px;
  cursor: pointer;
  display: none;
  top: 2vh;
  right: 5vw;
  position: absolute;
}

.sidenav {
  display: none;
}

@media only screen and (max-width: 1400px) {
  #intro h1 {
    font-size: 3.5vw;
    }
  #intro h2 {
    font-size: 2vw;
  }

  #case-studies {
    max-width: 800px;
  }
  .product-type {
    font-size: 1em;
  }
  .case-study-left button {
    width: 60%;
  }
  #navbar ul li {
    font-size: 3vw;
  }
  .downArrow {
    left: 47%;
  }
  .downArrow img {
    width: 6vw !important;
  }
}

/* iPad Dimensions */

@media only screen and (max-width: 1100px) {
  #header {
    width: 75%;
    margin: 0 12.5vw;
  }
  #navbar {
    padding: 10% 0;
  }
  #intro h1 {
    font-size: 9vw;
  }
  #intro h2 {
    font-size: 3vw;
    padding-bottom: 30vh;
  }
  #blob1 {
    display: none;
  }
  #blob2 {
    display: none;
  }
  #blob3 {
    display: none;
  }
  #tabletblobs {
    display: block;
    animation: fadein 1.5s linear;
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0;
    top: 20%;
    z-index: -2;
  }
  .case-studies {
    max-width: 90%;
  }

  /* About Page */

  #about-container {
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 10vw;
  }
  #portrait {
    /* width: 50% !important; */
    position: absolute;
    top: 16%;
    right: 10%;
    z-index: -1;
  }
  #intro {
    width: 80%;
  }

  .about-intro {
    font-size: 9vw;
    width: 100% !important;
  }

  .about-intro h1 {
    width: 50%;
    font-size: 9vw !important;
    margin-top: 5vh;
  }

  #about-header {
    padding-top: 5vh;
    margin-bottom: 10vh;
  }
  #intro p {
    font-size: 20px;
  }
}

/* Mobile Dimensions */

@media (max-width: 600px) {
  /* .downArrow img {
    filter: invert(1);
  } */

  #header {
    width: 90%;
    margin: 0 5vw;
  }
  #navbar {
    display: none;
  }
  #intro {
    width: 80vw !important;
  }
  #intro h1 {
    font-size: 15vw !important;
    width: 100%;
  }
  #intro h2 {
    font-size: 6vw;
    padding-bottom: 15vh;
    line-height: 130%;
  }
  #intro p {
    font-size: 16px;
  }
  #tabletblobs {
    display: none;
  }

  #mobileblobs {
    display: block;
    animation: fadein 1.5s linear;
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: -2;
    left: 0;
    top: 35%;
  }

  #nav-icon-container {
    display: flex;
    justify-content: flex-end;
  }

  .sidenav {
  display: block;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #303030;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 15vh;
}

#mobile-nav-links {
    transition: 0.3s;
}

.sidenav a {
  padding: 0.5em 0;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #F5F5F5;
  display: block;
  transition: 0.5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 6vw;
  font-size: 36px;
  margin-left: 50px;
  }
  #case-studies {
    width: 100vw;
  }
  .case-study {
    flex-direction: column;
    height: auto;
    max-height: none;
  }
  .case-study-left {
    width: 80%;
    padding: 10%;
  }
  .case-study-right {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 250px;file:///D:/Users/Anthony/Documents/GitHub/achow605.github.io/index.html
  }

  /* About Page */

  #portrait {
    position: static;
    width: 100% !important;
    justify-content: center !important;

  }
  #about-container #intro h1 {
    margin-top: 5vh;
    width: 80%;
  }
  #about-header {
    margin-bottom: 0;
  }
  #about-container {
    align-items: center;
  }
  .about-header {
    height: 10vh !important;
  }
  /* #intro p {
    font-size: 1em;
  } */

  /* CASE STUDY PAGES */
  #case-study-body-container {
    width: 100%;
  }
  #case-study-body {
    width: 90%;
  }
  #case-study-body ul {
    width: 80%;
    margin: 0 auto 3vh auto;
  }
  .hf-body {
    flex-direction: column-reverse;
  }
  .hf-left {
    width: 90%;
    margin-left: 15vw;
  }
  .hf-right {
    width: 100%;
  }
  pre {
    display: none;
  }
  #case-study-body h1 {
    margin: 0 auto;
  }
}
