@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

/* Reset */

html {
  scroll-behavior: smooth;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  /*   background-color: red; */
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.25s linear; /* For Safari 3.0 to 6.0 */
  transition: color 0.25s linear; /* For modern browsers */
}

#links li:hover {
  color: #00B5FF;
  cursor: pointer;
}

#blob1 {
  position: absolute;
  z-index: -3;
  width: 72vw;
  height: auto;
  left: -10vw;
  top: 45%;

  animation: flyin 1.2s ease-in-out;
}

#blob2 {
  position: absolute;
  z-index: -2;
  width: 90vw;
  height: auto;
  right: -22vw;
  /*   margin-top: 25vh; */
  top: 18%;

  animation: flyin 1.6s ease-in-out;
}

#blob3 {
  position: absolute;
  z-index: -1;
  height: auto;
  width: 80vw;
  right: -20vw;
  top: 73%;

  animation: flyin 1.8s ease-in-out;
}

.lilblob {
  display: block;
}

#header {
  width: 60vw;
  height: 100vh;
  color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20.825vw;
  font-family: "Montserrat", sans-serif;
}

#intro {
  font-family: "Montserrat", sans-serif;
}

#intro h1 {
  font-size: 3.2vw;
  font-weight: 500;
}

#intro h1 b {
  font-weight: 700;
}

#intro h2 {
  font-size: 1.9vw;
  font-weight: 400;
  display: flex;
  padding-bottom: 20vh;
}

@keyframes animate {
  0% {
    transform: translateY(0vw);
  }
  16.66% {
    transform: translateY(0vw);
  }
  33.33% {
    transform: translateY(-4.2vw);
  }
  50% {
    transform: translateY(-4.2vw);
  }
  66.66% {
    transform: translateY(-8.4vw);
  }
  83.34% {
    transform: translateY(-8.4vw);
  }
  100% {
    transform: translateY(-12.6vw);
  }
}

#intro {
  animation: flyin 1s ease-in-out;
  width: 36vw;
  color: #303030;
}

#intro p {
  font-size: 0.888em;
  line-height: 1.5em;
  margin: 2vh 0;
}

#intro p a{
  color: #00B5FF;
  text-decoration: underline;
}

@keyframes flyin {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

#navbar {
  position: absolute;
  top: 0;
  width: inherit;

  display: flex;

  justify-content: space-between;
  padding: 5% 0;
  z-index: 0;

  animation: fadein 1.5s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}

#navbar ul li {
  padding-left: 5%;
  font-weight: 600;
  color: #292929;
  font-size: 1.2vw;
}

.downArrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: auto;
  width: 10vw;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

#content {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#case-studies {
  max-width: 900px;
}

.case-study {
  display: flex;
  /*   border-radius: 25px; */
  background: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 350px;
  margin-bottom: 5%;
}

.case-study-left {
  width: 40%;
  padding: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case-study-left button {
  background-color: #909090;
  border: none;
  color: white;
  text-align: center;
  padding: 5%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  /*   border-radius: 12px; */
}

.case-study-right {
  width: 60%;
}

.case-study-right img {
  height: 100%;
  width: 100%;
  /*   border-radius: 0 25px 25px 0; */
  object-fit: cover;
}

.product-type {
  font-size: 1.2em;
  color: #909090;
}

.product-name {
  font-size: 2em;
  margin: 2% 0 2% 0;
  font-weight: 600;
}

.product-desc {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #535353;
}

#footer {
  display: flex;
  justify-content: center;
  margin: 8vh 0;

  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  color: #303030;

  animation: flyin 1s ease-in-out;
}

#about-container {
  display: flex;
  width: 58.35vw;
  margin: 0 20.825vw;
}

#about-container #intro {
  width: 50%;
}

#about-container #portrait {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  animation: flyin 1s ease-in-out;
}

#about-container #portrait img {
  width: 80%;
  height: auto;
}

#about-container h1 {
  font-size: 2.5vw;
}

#case-study-banner {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  object-fit: cover;

}

#case-study-banner img {
  width: 100%;
  object-fit: cover;
}

.leave {
  animation: leave 0.5s ease-in-out;
}

@keyframes leave {
  100% {
    opacity: 0;
    /*     transform: translateY(5vh); */
  }
}
