* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.showing {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

h1, h2, h3, span {
    transition: all 0.5s;
    text-align: center;
    margin: 0px 0;
    user-select: none;
}

h2, h3 {
    font-family: 'Nunito', sans-serif;
    color: white;
}

h1 {
    font-family: 'Suez One', serif;
    font-size: 4em;
    color:rgb(178, 238, 170);
}

h1:hover {
    transform: scale(110%);
    color:rgb(90, 189, 76);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.ul {
    text-decoration-line: underline;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

section {
    position: absolute;
    top: 35%;
    right: 20%;
    cursor: default;
}

.fa-pagelines {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: rgb(226, 226, 226);
    transform: translate(-50%, -50%);
    animation: loading 1.5s infinite alternate ease-in-out;
}

@keyframes loading {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

