* {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0;
}

h2 {
    font-weight: 400;
    font-size: 36px;
    margin-top: 16px;
}

.fa-heart {
    font-size: 200px;
    color:rgb(201, 51, 51);
    margin-bottom: 24px;
    transition: transform 1s ease-in-out;
    animation: beat 0.8s infinite;
}

p {
    font-size: 18px;
    color: rgb(190, 190, 190);
}

.fa-computer-mouse {
    font-size: 48px;
    color: rgb(190, 190, 190);
}

#text-section {
    margin-top: 3em;
}

footer {
    margin-bottom: 3em;
}

@keyframes beat {
    0%, 10% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.12);
    }

    40%, 100% {
        transform: scale(1);
    }


}